<title>Inuit-rails live demo introduction and analysis</title>

<div class="main-article__icon--show wgc__text-align--center">
  <svg width="182" height="40" xmlns="http://www.w3.org/2000/svg">
    <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#222" id="article-icon">ARTICLE</text>
  </svg>
</div>

<div class="main-article__dropdown wgc__layout__item wgc__layout__item--center block-within-dropdown">
  <p class="main-paragraph">
    Lorem ipsum dolor sit amet, ius id fabulas invenire consectetuer, vidit dicat apeirian vim ne. Et assum aliquid sadipscing duo, te melius aliquando mea, legimus posidonium appellantur sit ad. No nam ceteros persecuti efficiendi, has ut ferri feugait corpora. Sit ea assum exerci suavitate. Te commune vituperatoribus has, sea vocibus propriae argumentum ea.

    Facilisi consetetur ad vix, eum velit graecis vivendum at. Ex purto magna delicata eos, partiendo maluisset nec eu. Probo consectetuer te vim, ne partiendo deseruisse reprehendunt sea, eum no eros numquam dissentiunt. Graece deserunt ei vel, an est alia volumus reprimique. Per at affert labitur platonem, nam no vitae dissentias complectitur, sit et primis eripuit vivendum.

    Ei duo quem labores, ullum percipitur qui ea. Tale impetus persius vim ea. An cum probatus deterruisset. Eos cu commodo sapientem persequeris. Cu vim veniam graeci feugait, ei putant voluptatum sed. Sed graeco explicari et.

    Mea ad putent electram intellegebat. Tollit conceptam ad pro. Eos porro eligendi pertinax ei, his unum vitae altera et. Odio officiis deserunt eam an. Vix vero graeci eu, mel diam simul facilisi id.

    Ad vitae congue suscipiantur cum, id malis eloquentiam mea. Sed omnis interesset ea, nec doming accumsan consectetuer no. In has falli scripta denique, cum tota iudicabit ea. Rebum perpetua no per, ea quot adhuc veniam mel, his ex impetus expetendis.
  </p>

  <p class="main-paragraph">
    Lorem ipsum dolor sit amet, ius id fabulas invenire consectetuer, vidit dicat apeirian vim ne. Et assum aliquid sadipscing duo, te melius aliquando mea, legimus posidonium appellantur sit ad. No nam ceteros persecuti efficiendi, has ut ferri feugait corpora. Sit ea assum exerci suavitate. Te commune vituperatoribus has, sea vocibus propriae argumentum ea.

    Facilisi consetetur ad vix, eum velit graecis vivendum at. Ex purto magna delicata eos, partiendo maluisset nec eu. Probo consectetuer te vim, ne partiendo deseruisse reprehendunt sea, eum no eros numquam dissentiunt. Graece deserunt ei vel, an est alia volumus reprimique. Per at affert labitur platonem, nam no vitae dissentias complectitur, sit et primis eripuit vivendum.

    Ei duo quem labores, ullum percipitur qui ea. Tale impetus persius vim ea. An cum probatus deterruisset. Eos cu commodo sapientem persequeris. Cu vim veniam graeci feugait, ei putant voluptatum sed. Sed graeco explicari et.

    Mea ad putent electram intellegebat. Tollit conceptam ad pro. Eos porro eligendi pertinax ei, his unum vitae altera et. Odio officiis deserunt eam an. Vix vero graeci eu, mel diam simul facilisi id.

    Ad vitae congue suscipiantur cum, id malis eloquentiam mea. Sed omnis interesset ea, nec doming accumsan consectetuer no. In has falli scripta denique, cum tota iudicabit ea. Rebum perpetua no per, ea quot adhuc veniam mel, his ex impetus expetendis.
  </p>
</div>
