<div class="buttons-wrapper palm-buttons__border palm-layout mb-">

  <div class="lap-and-up-buttons__icon--hide palm-buttons__icon--show t-center">
    <svg width="182" height="40" xmlns="http://www.w3.org/2000/svg">
      <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="article-icon">BUTTONS</text>
    </svg>
  </div>

  <div class="palm-buttons__dropdown palm-l-block palm-layout__item palm-layout__item--center">
    <button class="l-block btn--pill mv-">btn--pill</button>
    <button class="l-block btn mb-">btn</button>
    <button class="l-block btn--small mb-">btn--small</button>
    <button class="l-block btn--large mb-">btn--large</button>
    <button class="l-block btn--full mb-">btn--full</button>
  </div>
</div>
