<div id="slider" class="carousel__slider">
  <div class="carousel__image carousel__image--1"></div>
  <div class="carousel__image carousel__image--2"></div>
  <div class="carousel__image carousel__image--3"></div>
  <div class="carousel__image carousel__image--4"></div>
  <div class="nav previous"></div>
  <div class="nav next"></div>
</div>

<div id="dots" class="t-center">
  <ul></ul>
</div>
