<div class="lap-and-up-carousel__icon--hide palm-carousel__icon--show t-center">
  <svg width="210" height="40" xmlns="http://www.w3.org/2000/svg">
    <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="carousel-icon">CAROUSEL</text>
  </svg>
</div>

<div class="carousel palm-carousel__dropdown">
  <div class="carousel__viewport">
    <div class="carousel__slider-container">
      <div class="carousel__slider">
        <div class="carousel__slide carousel__slide--lhs"></div><!----><div class="carousel__slide carousel__slide--rhs"></div>
      </div>
    </div>
  </div>

  <ul class="carousel__dot-selector-container list-inline t-center mb-"></ul>
</div>

