<div class="flyout-wrapper palm-flyout__border palm-layout wgc__margin-bottom--one-half-bsu">

  <div class="lap-and-up-flyout__icon--hide palm-flyout__icon--show wgc__text-align--center">
    <svg width="156" height="40" xmlns="http://www.w3.org/2000/svg">
      <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#222" id="article-icon">FLYOUT</text>
    </svg>
  </div>

  <div class="flyout palm-flyout__dropdown wgc__lap-and-up-paddings-all--one-half-bsu wgc__background-color--gray wgc__border-radius--top-right wgc__border-radius--top-left wgc__palm-display--block">
    The truth is in the flyout__content&hellip;
    <div class="flyout__content wgc__background-color--gray wgc__paddings-all--one-half-bsu wgc__column-width--one-whole wgc__border-radius--bottom-right wgc__border-radius--bottom-left">
      <h3 class="wgc__margins-vertical--none">Inuit-Rails is awesome!</h3>
    </div>
  </div>
</div>
