<div class="flyout-wrapper palm-flyout__border palm-layout mb-">

  <div class="lap-and-up-flyout__icon--hide palm-flyout__icon--show t-center">
    <svg width="156" height="40" xmlns="http://www.w3.org/2000/svg">
      <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000" id="article-icon">FLYOUT</text>
    </svg>
  </div>

  <div class="flyout palm-flyout__dropdown lap-and-up-p- bg-light-grey btr-radius btl-radius palm-l-block">
    The truth from the flyout &hellip;
    <div class="flyout__content bg-light-grey p- one-whole bbr-radius bbl-radius">
      <h3 class="mv0">Inuit-Rails is awesome!</h3>
    </div>
  </div>
</div>
