<div class="form-wrapper palm-forms__border wgc__palm-layout wgc__margin-bottom--one-half-bsu">

  <div class="lap-and-up-forms__icon--hide palm-forms__icon--show wgc__text-align--center">
    <svg width="130" height="40" xmlns="http://www.w3.org/2000/svg">
      <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#222" id="article-icon">FORMS</text>
    </svg>
  </div>

  <form class="palm-forms__dropdown wgc__palm-layout__item wgc__palm-layout__item--center wgc__palm-display--block" action="#">
    <fieldset class="mh0 wgc__border-radius b-skeleton-text">
      <legend class="c-skeleton-text">Personal details</legend>

      <ul class="form-fields wgc__padding-left--none">
        <li>
          <label class="wgc__padding-bottom--one-quarter-bsu" for="first-name">First name</label>
          <input type="text" class="text-input" id="first-name">
        </li>

        <li>
          <label class="wgc__padding-bottom--one-quarter-bsu" for="last-name">Last name</label>
          <input type="text" class="text-input" id="last-name">
        </li>

        <li>
          <label class="wgc__padding-bottom--one-quarter-bsu" for="email">Email</label>
          <input type="email" class="text-input" id="email">
          <small class="extra-help">real emails only!</small>
        </li>
      </ul>
    </fieldset>

    <fieldset class="wgc__margins-vertical--one-half-bsu wgc__margins-horizontal--none wgc__border-radius">
      <legend class="">Contacting you</legend>
      <ul class="form-fields wgc__padding-left--none">
        <li>
          <span class="label">How would you like to be contacted?</span>

          <ul class="check-list wgc__padding-top--one-half-bsu wgc__padding-left--none">
            <li class="wgc__paddings-vertical--one-quarter-bsu">
              <input type="checkbox" id="by-email"><label class="wgc__padding-left--one-quarter-bsu" for="by-email">By email</label>
            </li>

            <li class="wgc__paddings-vertical--one-quarter-bsu">
              <input type="checkbox" id="by-post"><label class="wgc__padding-left--one-quarter-bsu" for="by-post">By post</label>
            </li>

            <li class="wgc__paddings-vertical--one-quarter-bsu">
              <input type="checkbox" id="by-pigeon"><label class="wgc__padding-left--one-quarter-bsu" for="by-pigeon">By carrier pigeon</label>
            </li>
          </ul>
        </li>

        <li>
          <span class="label">How often would you like to be contacted?</span>

          <ul class="check-list multi-list wgc__padding-left--none">
            <li class="wgc__column-width--one-half wgc__display--inline-block wgc__padding-top--one-half-bsu">
              <input type="radio" name="frequency" id="weekly"><label class="wgc__padding-left--one-quarter-bsu" for="weekly">Weekly</label>
            </li><!--

            --><li class="wgc__column-width--one-half wgc__display--inline-block wgc__padding-top--one-half-bsu">
              <input type="radio" name"=frequency" id="daily"><label class="wgc__padding-left--one-quarter-bsu" for="daily">Daily</label>
            </li>
          </ul>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
