<div class="lap-and-up-layout-eg-1__icon--hide palm-layout-eg-1__icon--show t-center">
  <svg width="210" height="40" xmlns="http://www.w3.org/2000/svg">
    <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#222" id="carousel-icon">LAYOUT 1</text>
  </svg>
</div>


<div class="layout-eg-1 palm-layout-eg-1__dropdown palm-layout__item palm-layout__item--center palm-l-block">
  <h3 class="c-skeleton-text">Layout example 1</h3>

  <div class="b-solid b-thin b-radius b-skeleton-text lap-and-up-layout palm-layout--small">
    <div class="lap-and-up-layout__item palm-layout__item one-tenth"><p class="bg-light-grey b-radius t-center mt0 mb0 pv-- c-white">1</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item nine-tenths"><p class="bg-light-grey b-radius t-center mt0 mb0 pv-- c-white">9</p></div>

    <div class="lap-and-up-layout__item palm-layout__item two-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">2</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item eight-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">8</p></div>

    <div class="lap-and-up-layout__item palm-layout__item three-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">3</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item seven-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">7</p></div>

    <div class="lap-and-up-layout__item palm-layout__item four-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">4</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item six-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">6</p></div>

    <div class="lap-and-up-layout__item palm-layout__item five-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">5</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item five-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">5</p></div>

    <div class="lap-and-up-layout__item palm-layout__item six-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">6</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item four-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">4</p></div>

    <div class="lap-and-up-layout__item palm-layout__item seven-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">7</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item three-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">3</p></div>

    <div class="lap-and-up-layout__item palm-layout__item eight-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">8</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item two-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">2</p></div>

    <div class="lap-and-up-layout__item palm-layout__item nine-tenths"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">9</p></div><!--
    --><div class="lap-and-up-layout__item palm-layout__item one-tenth"><p class="bg-light-grey b-radius t-center mt- mb0 pv-- c-white">1</p></div>
  </div>
</div>
