<div class="lap-and-up-layout-eg-2__icon--hide palm-layout-eg-2__icon--show wgc__text-align--center">
  <svg width="210" height="40" xmlns="http://www.w3.org/2000/svg">
    <text xml:space="preserve" font-family="courier new" font-size="44" y="35" x="0" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#222" id="carousel-icon">LAYOUT 2</text>
  </svg>
</div>


<div class="layout-eg-2 palm-layout-eg-2__dropdown wgc__palm-layout__item wgc__palm-layout__item--center wgc__palm-display--block">
  <h3 class="wgc__text-align--left">Layout example 2</h3>

  <div class="wgc__border-style--solid wgc__border-width--thin wgc__border-radius wgc__lap-and-up-layout-group--gutter-one-bsu wgc__palm-layout-group--gutter-one-half-bsu">
    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--one-tenth"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--none wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">1</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--nine-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--none wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">9</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--two-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">2</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--eight-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">8</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--three-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">3</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--seven-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">7</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--four-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">4</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--six-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">6</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--five-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">5</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--five-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">5</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--six-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">6</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--four-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">4</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--seven-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">7</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--three-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">3</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--eight-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">8</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--two-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">2</p></div>

    <div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--nine-tenths"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">9</p></div><!--
    --><div class="wgc__lap-and-up-layout__item wgc__lap-and-up-layout__item--center wgc__palm-layout__item wgc__palm-layout__item--center wgc__column-width--one-tenth"><p class="wgc__background-color--gray wgc__border-radius wgc__text-align--center wgc__margin-top--one-half-bsu wgc__margin-bottom--none wgc__paddings-vertical--one-quarter-bsu wgc__text-color--white">1</p></div>
  </div>
</div>
