$white:                       #fff;
$light-grey:                  #adadad;
$link-blue:                   #00f;
$link-purple:                 #520052;
$skeleton-text:               #222;
$dark-grey:                   #303032;
$black:                       #000;
$inuit-responsive-settings:   true;
$carousel-image-height:       125px;

@import 'settings.responsive/settings.responsive';
@import 'settings.defaults/settings.defaults';
@import 'tools.responsive/tools.responsive';
@import 'tools.functions/tools.functions';

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.prevent-svg-flicker {
  -webkit-backface-visibility: hidden;
}

.block-within-dropdown {
  display: block !important;
}

.main-paragraph {
  text-align: justify;
  margin-top: 0;
  margin-bottom: quarter($inuit-base-spacing-unit);
  text-indent: quarter($inuit-base-spacing-unit);
  text-color: $skeleton-text;
}

.main-link {
  color: $link-blue;
  text-decoration: none;

  &:visited {
    color: $link-purple;
  }
}

// Upper navbar
.upper-navbar__search-field {
  font-size: 1em;
  margin-right: -55px;
}

.upper-navbar__search-submit {
  cursor: pointer;
  opacity: 0;
  height: 44px;
  width: 50px;
  margin-right: -55px;
}

.upper-navbar__search-icon {
  color: $skeleton-text;

  &:hover {
    cursor: pointer;
  }
}

// Dropdowns: lower-navbar, carousel, forms, flyout, buttons,
//            main-article, layout-eg-1, layout-eg-2, layout-eg-3
@include media-query('lap-and-up') {
  .lap-and-up-lower-navbar__burger--hide {
    display: none !important;
  }

  .lap-and-up-carousel__icon--hide {
    display: none !important;
  }

  .lap-and-up-forms__icon--hide {
    display: none !important;
  }

  .lap-and-up-flyout__icon--hide {
    display: none !important;
  }

  .lap-and-up-buttons__icon--hide {
    display: none !important;
  }

  .lap-and-up-layout-eg-1__icon--hide {
    display: none !important;
  }

  .lap-and-up-layout-eg-2__icon--hide {
    display: none !important;
  }

  .lap-and-up-layout-eg-3__icon--hide {
    display: none !important;
  }
}

@include media-query('palm') {
  // removing whitespace under icon in closed dropdown sections that contain layout__items
  .palm-l-block {
    display: block !important;
  }

  // lower-navbar
  .palm-lower-navbar__burger--show {
    color: $skeleton-text;
    height: 44px;
    margin: 0 auto;
    display: block !important;

    &:hover {
      cursor: pointer;
    }
  }

  .palm-lower-navbar__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-lower-navbar__dropdown--open {
      max-height: 10000px;
    }
  }

  .palm-lower-navbar__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // carousel
  .palm-carousel__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-carousel__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-carousel__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-carousel__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // forms
  .palm-forms__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-forms__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-forms__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-forms__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // flyout
  .palm-flyout__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-flyout__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-flyout__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-flyout__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // buttons
  .palm-buttons__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-buttons__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-buttons__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-buttons__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // layout-eg-1
  .palm-layout-eg-1__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-layout-eg-1__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-layout-eg-1__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-layout-eg-1__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // layout-eg-2
  .palm-layout-eg-2__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-layout-eg-2__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-layout-eg-2__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-layout-eg-2__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // layout-eg-2
  .palm-layout-eg-2__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-layout-eg-2__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-layout-eg-2__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-layout-eg-2__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // layout-eg-3
  .palm-layout-eg-3__icon--show {
    &:hover {
      cursor: pointer;
    }
  }

  .palm-layout-eg-3__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-layout-eg-3__dropdown--open {
      max-height: 10000px
    }
  }

  .palm-layout-eg-3__border {
    border-color: $skeleton-text;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }
}

// main-article (not wrapped in media query!)
.main-article__icon--show {
  &:hover {
    cursor: pointer;
  }
}

.main-article__dropdown {
  max-height: 0;
  overflow: hidden;

  &.main-article__dropdown--open {
    max-height: 10000px
  }
}

.main-article__border {
  border-color: $skeleton-text;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
}

// Overriding the medium size for evil-icon SVGs
.icon--m {
  height: 44px !important;
}

// The carousel
.carousel__viewport {
  overflow: hidden;
}

.carousel__slider-container {
  display: inline-block;
  margin-left: -100%;
  width: 300%;
}

.carousel__slider {
  width: 66.66666%;
}

.carousel__slide--1 {
  background: image-url('inuit_rails.svg');
}

.carousel__slide--2 {
  background: image-url('is.svg');
}

.carousel__slide--3 {
  background: image-url('awesome.svg');
}

.carousel__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: $carousel-image-height;
  width: 50%;
}

.carousel__dot-selector {
  background-color: $light-grey;
  width: $inuit-base-spacing-unit;
  height: $inuit-base-spacing-unit;
  border-radius: 4px;
  margin-right: halve($inuit-base-spacing-unit);
  margin-left: halve($inuit-base-spacing-unit);

  &:hover {
    background-color: $skeleton-text;
    cursor: pointer;
  }
}

.carousel__dot-selector--active {
  background-color: $skeleton-text;
}
