$white:                       #fff;
$black:                       #000;
$light-grey:                  #adadad;
$dark-grey:                   #303032;
$inuit-responsive-settings:   true;
$carousel-image-height:       125px;

@import 'settings.responsive/settings.responsive';
@import 'settings.defaults/settings.defaults';
@import 'tools.responsive/tools.responsive';
@import 'tools.functions/tools.functions';

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Upper navbar
.upper-navbar__search-field {
  font-size: 1em;
  margin-right: -55px;
}

.upper-navbar__search-submit {
  cursor: pointer;
  opacity: 0;
  height: 44px;
  width: 50px;
  margin-right: -55px;
}

.upper-navbar__search-icon {
  color: $light-grey;

  &:hover {
    color: $black;
    cursor: pointer;
  }
}

// Lower navbar
@include media-query('lap-and-up') {
  .lap-and-up-lower-navbar__burger--hide {
    display: none !important;
  }
}

@include media-query('palm') {
  .palm-lower-navbar__burger--show {
    color: $light-grey;
    margin: 0 auto;
    display: block !important;

    &:hover {
      color: $black;
      cursor: pointer;
    }
  }

  .palm-lower-navbar__dropdown {
    max-height: 0;
    overflow: hidden;

    &.palm-lower-navbar__dropdown--open {
      max-height: 1000px;
    }
  }

  .palm-lower-navbar__border {
    border-color: $black;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
  }

  // Sizing evil-icon burger svg
  .icon__cnt {
    height: 44px;
  }
}

// The carousel
.carousel__viewport {
  overflow: hidden;
}

.carousel__slider-container {
  display: inline-block;
  margin-left: -100%;
  width: 300%;
}

.carousel__slider {
  width: 66.66666%;
}

.carousel__slide--1 {
  background: image-url('front_end.svg');
}

.carousel__slide--2 {
  background: image-url('development.svg');
}

.carousel__slide--3 {
  background: image-url('really_is.svg');
}

.carousel__slide--4 {
  background: image-url('awesome.svg');
}

.carousel__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: $carousel-image-height;
  width: 50%;
}

.carousel__dot-selector {
  background-color: $light-grey;
  width: $inuit-base-spacing-unit;
  height: $inuit-base-spacing-unit;
  border-radius: 4px;
  margin-right: halve($inuit-base-spacing-unit);
  margin-left: halve($inuit-base-spacing-unit);

  &:hover {
    background-color: $dark-grey;
    cursor: pointer;
  }
}

.carousel__dot-selector--active {
  background-color: $black;
}
