/* Set variables */
$enable-wgc-wrapper:                                true;

$inuit-enable-layout--small:                        true;
$inuit-enable-layout--medium:                       true;
$inuit-enable-layout--center:                       true;
$inuit-enable-layout--right:                        true;
$inuit-enable-layout--flush:                        true;
$inuit-enable-layout--large:                        true;
$inuit-enable-margins--none:                        true;
$inuit-enable-margins--tiny:                        true;
$inuit-enable-margins--small:                       true;
$inuit-enable-margins:                              true;
$inuit-enable-responsive-margins--none:             true;
$inuit-enable-responsive-margins--tiny:             true;
$inuit-enable-responsive-margins--small:            true;
$inuit-enable-responsive-margins:                   true;
$inuit-enable-responsive-margins--negative-small:   true;

$inuit-enable-responsive-paddings--none:            true;
$inuit-enable-responsive-paddings--tiny:            true;
$inuit-enable-responsive-paddings--small:           true;
$inuit-enable-responsive-paddings:                  true;
$inuit-enable-paddings--none:                       true;
$inuit-enable-paddings--tiny:                       true;
$inuit-enable-paddings--small:                      true;
$inuit-enable-paddings:                             true;

$inuit-enable-btn--small:                           true;
$inuit-enable-btn--large:                           true;
$inuit-enable-btn--full:                            true;
$inuit-enable-btn--pill:                            true;

/* Import desired files */
@import
  'settings.defaults/settings.defaults',
  'settings.responsive/settings.responsive',
  'tools.responsive/tools.responsive',
  'tools.widths/tools.widths',
  'tools.mixins/tools.mixins',
  'tools.functions/tools.functions',
  'generic.normalize/generic.normalize',
  'generic.box-sizing/generic.box-sizing',
  'objects.list-inline/objects.list-inline',
  'objects.buttons/objects.buttons',
  'objects.layout/objects.layout',
  'trumps.widths-responsive/trumps.widths-responsive',
  'trumps.spacing/trumps.spacing',
  'trumps.spacing-responsive/trumps.spacing-responsive',
  'trumps.clearfix/trumps.clearfix',

  'wgc/inuit-overrides/settings.defaults',
  'wgc/inuit-overrides/settings.responsive',
  'wgc/inuit-overrides/tools.functions',
  'wgc/inuit-overrides/tools.mixins',
  'wgc/inuit-overrides/generic.shared',
  'wgc/inuit-overrides/base.forms',
  'wgc/inuit-overrides/objects.layout',
  'wgc/inuit-overrides/objects.flyout',
  'wgc/inuit-overrides/trumps.spacing',
  'wgc/inuit-overrides/trumps.spacing-responsive',
  'wgc/inuit-overrides/trumps.widths-responsive',
  'wgc/borders',
  'wgc/colours',
  'wgc/layout',
  'wgc/typography'
;
