<nav class="lower-navbar wgc__layout__item wgc__layout__item--center wgc__lap-and-up-padding-top--one-half-bsu wgc__palm-margin-top--one-half-bsu">
  <div class="palm-lower-navbar__border">
    <div class="lap-and-up-lower-navbar__burger--hide palm-lower-navbar__burger--show wgc__text-align--center">
      <%= evil_icon 'ei-navicon', size: :m %>
    </div>

    <ul class="palm-lower-navbar__dropdown list-inline wgc__layout-group--gutter-one-bsu wgc__column-width--one-whole wgc__lap-and-up-negative-margin-left--one-half-bsu">
      <li id="link-home-lower-nav" class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole wgc__palm-margin-bottom--one-half-bsu">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Home</p>
        </a>
      </li><!--

      --><li id="link-sign-in-lower-nav" class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Sign In</p>
        </a>
      </li><!--

      --><li id="link-sign-up-lower-nav" class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Sign Up</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 1</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 2</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 3</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 4</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 5</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-wgc__margins-vertical--one-half-bsu-">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 6</p>
        </a>
      </li><!--

      --><li class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-column-width--one-eighth wgc__column-width-palm--one-whole palm-mt-- palm-wgc__margin-bottom--one-half-bsu">
        <a href="#" role="link" class="wgc__text-decoration--none">
          <p class="wgc__background-color--blue wgc__text-color--white wgc__text-align--center wgc__margins-vertical--none wgc__paddings-vertical--one-quarter-bsu wgc__border-radius wgc__text-transform--uppercase">Link 7</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
