<nav class="lower-navbar layout__item layout__item--center lap-and-up-pt- palm-mt-">
  <div class="palm-lower-navbar__border">
    <div class="lap-and-up-lower-navbar__burger--hide palm-lower-navbar__burger--show t-center">
      <%= evil_icon 'ei-navicon', size: :m %>
    </div>

    <ul class="palm-lower-navbar__dropdown list-inline layout one-whole lap-and-up-neg-ml-">
      <li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mb--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 1</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mv--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 2</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mv--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 3</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mv--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 4</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mv--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 5</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mv--">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 6</p>
        </a>
      </li><!--

      --><li class="layout__item layout__item--center lap-and-up-one-eighth palm-one-whole palm-mt-- palm-mb-">
        <a href="#" role="link" class="t-dec-none">
          <p class="bg-black c-white t-center mv0 pv-- b-radius t-uppercase">Link 7</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
