<nav class="lower-navbar palm-lower-navbar__border lap-and-up-pt- palm-mt-">
  <%= evil_icon 'ei-navicon', size: :m, class: 'lap-and-up-lower-navbar__burger--hide palm-lower-navbar__burger--show' %>

  <ul class="palm-lower-navbar__dropdown list-inline layout all-one-whole lap-and-up-neg-ml-">
    <li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mb--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 1</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 2</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 3</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 4</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 5</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 6</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 7</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv--">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 8</p>
      </a>
    </li><!--

    --><li class="layout__item lap-and-up-one-ninth palm-one-whole palm-mv-- palm-mb-">
      <a href="#" role="link" class="t-dec-none">
        <p class="bg-black c-white t-center all-mv0 all-pv-- b-radius t-uppercase">Link 9</p>
      </a>
    </li>
  </ul>
</nav>
